# Downloaded data and generated reports
/data/raw/
/_site/
/.quarto/
/report/*.html
/report/*_files/
*_cache/
*.knit.md
*.utf8.md

# Individual work and local settings
/assignment-1/*
/misc/
/.vscode/
.Rproj.user/
.Rhistory
.RData
.Renviron
.httr-oauth
.DS_Store

**/*.quarto_ipynb
